In [1]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('./recommender-2021-07-13.csv')
df

    Unnamed: 0  네일  샴푸  선크림  틴트  에센스  고양이  강아지  집사  키보드  마우스  아이폰  카메라
0   haniyamyam   6   6    1   0    3    0    0   0    0    2    3    0
1    beauvelye   7   5   30  62   45    2    1   0    0    2    0    0
2    wlgysnl23   0   0    0   0    0    0    0   0    0    0    0    0
3    oksubenne   0   1    0   0    0  214    3   6    0    0    0    1
4      wj_2169   4  16    0   0    2    2  703   3    0    1    4    6
5     eve14eve   6   3    0   0    0   54   67   0    1    1    7    0
6  bichon-haru  19  25    2   2    2   23  678   2    0    4   20   10
7     gamja321   0   0    0   0    0    0    0   0    0    0    0    0
8      nce0623   1   1    0   0    0    1   11   0   12    6   85   18
9     kimcoco1   0   0    0   0    0    0    0   0    0    0    0    0

In [30]:
from sklearn.metrics.pairwise import cosine_similarity

In [37]:
df.rename(columns={'Unnamed: 0':'blogger_name'},inplace=True)

In [39]:
df.index = df['blogger_name']

In [44]:
df.drop('blogger_name',axis=1,inplace=True)

KeyError: "['blogger_name'] not found in axis"

In [58]:
# 글이 0개인 인플루언서는 지운다.
bool_df = df.apply(lambda x: x.sum() != 0 ,axis=1)
df = df[bool_df]
df

              네일  샴푸  선크림  틴트  에센스  고양이  강아지  집사  키보드  마우스  아이폰  카메라
blogger_name
haniyamyam     6   6    1   0    3    0    0   0    0    2    3    0
beauvelye      7   5   30  62   45    2    1   0    0    2    0    0
oksubenne      0   1    0   0    0  214    3   6    0    0    0    1
wj_2169        4  16    0   0    2    2  703   3    0    1    4    6
eve14eve       6   3    0   0    0   54   67   0    1    1    7    0
bichon-haru   19  25    2   2    2   23  678   2    0    4   20   10
nce0623        1   1    0   0    0    1   11   0   12    6   85   18

In [59]:
influencer_based_collabor = cosine_similarity(df)

In [60]:
influencer_based_collabor

array([[1.        , 0.2987078 , 0.0028751 , 0.02042494, 0.09121565,
        0.05133607, 0.32301642],
       [0.2987078 , 1.        , 0.02460035, 0.01558092, 0.03263981,
        0.02247211, 0.005044  ],
       [0.0028751 , 0.02460035, 1.        , 0.01711482, 0.63417808,
        0.04813413, 0.01401933],
       [0.02042494, 0.01558092, 0.01711482, 1.        , 0.77676174,
        0.99885046, 0.13172461],
       [0.09121565, 0.03263981, 0.63417808, 0.77676174, 1.        ,
        0.79864357, 0.18410466],
       [0.05133607, 0.02247211, 0.04813413, 0.99885046, 0.79864357,
        1.        , 0.15658614],
       [0.32301642, 0.005044  , 0.01401933, 0.13172461, 0.18410466,
        0.15658614, 1.        ]])

In [62]:
influencer_based_collabor = pd.DataFrame(data = influencer_based_collabor, index=df.index,columns=df.index)

In [63]:
influencer_based_collabor

blogger_name,haniyamyam,beauvelye,oksubenne,wj_2169,eve14eve,bichon-haru,nce0623
blogger_name,,,,,,,
haniyamyam,1.000000,0.298708,0.002875,0.020425,0.091216,0.051336,0.323016
beauvelye,0.298708,1.000000,0.024600,0.015581,0.032640,0.022472,0.005044
oksubenne,0.002875,0.024600,1.000000,0.017115,0.634178,0.048134,0.014019
wj_2169,0.020425,0.015581,0.017115,1.000000,0.776762,0.998850,0.131725
eve14eve,0.091216,0.032640,0.634178,0.776762,1.000000,0.798644,0.184105
bichon-haru,0.051336,0.022472,0.048134,0.998850,0.798644,1.000000,0.156586
nce0623,0.323016,0.005044,0.014019,0.131725,0.184105,0.156586,1.000000

In [66]:
def get_influencer_based_collabor(_blogger_name):
    return influencer_based_collabor[_blogger_name].sort_values(ascending=False)
get_influencer_based_collabor('beauvelye')

blogger_name
beauvelye      1.000000
haniyamyam     0.298708
eve14eve       0.032640
oksubenne      0.024600
bichon-haru    0.022472
wj_2169        0.015581
nce0623        0.005044
Name: beauvelye, dtype: float64