In [1]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('./recommender-2021-07-13.csv')
df

    Unnamed: 0  네일  샴푸  선크림  틴트  에센스  고양이  강아지  집사  키보드  마우스  아이폰  카메라
0   haniyamyam   6   6    1   0    3    0    0   0    0    2    3    0
1    beauvelye   7   5   30  62   45    2    1   0    0    2    0    0
2    wlgysnl23   0   0    0   0    0    0    0   0    0    0    0    0
3    oksubenne   0   1    0   0    0  214    3   6    0    0    0    1
4      wj_2169   4  16    0   0    2    2  703   3    0    1    4    6
5     eve14eve   6   3    0   0    0   54   67   0    1    1    7    0
6  bichon-haru  19  25    2   2    2   23  678   2    0    4   20   10
7     gamja321   0   0    0   0    0    0    0   0    0    0    0    0
8      nce0623   1   1    0   0    0    1   11   0   12    6   85   18
9     kimcoco1   0   0    0   0    0    0    0   0    0    0    0    0

In [30]:
from sklearn.metrics.pairwise import cosine_similarity

In [37]:
df.rename(columns={'Unnamed: 0':'blogger_name'},inplace=True)

In [39]:
df.index = df['blogger_name']

In [44]:
df.drop('blogger_name',axis=1,inplace=True)

KeyError: "['blogger_name'] not found in axis"

In [57]:
bool_df = df.apply(lambda x: x.sum() != 0 ,axis=1)

blogger_name
haniyamyam      True
beauvelye       True
wlgysnl23      False
oksubenne       True
wj_2169         True
eve14eve        True
bichon-haru     True
gamja321       False
nce0623         True
kimcoco1       False
dtype: bool

In [46]:
influencer_based_collabor = cosine_similarity(df)

In [47]:
influencer_based_collabor

array([[1.        , 0.2987078 , 0.        , 0.0028751 , 0.02042494,
        0.09121565, 0.05133607, 0.        , 0.32301642, 0.        ],
       [0.2987078 , 1.        , 0.        , 0.02460035, 0.01558092,
        0.03263981, 0.02247211, 0.        , 0.005044  , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.0028751 , 0.02460035, 0.        , 1.        , 0.01711482,
        0.63417808, 0.04813413, 0.        , 0.01401933, 0.        ],
       [0.02042494, 0.01558092, 0.        , 0.01711482, 1.        ,
        0.77676174, 0.99885046, 0.        , 0.13172461, 0.        ],
       [0.09121565, 0.03263981, 0.        , 0.63417808, 0.77676174,
        1.        , 0.79864357, 0.        , 0.18410466, 0.        ],
       [0.05133607, 0.02247211, 0.        , 0.04813413, 0.99885046,
        0.79864357, 1.        , 0.        , 0.15658614, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.32301642, 0.005044  , 0.        , 0.01401933, 0.13172461,
        0.18410466, 0.15658614, 0.        , 1.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ]])